<!DOCTYPE html>
<head>
  <title>OpenAI - FLASK </title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Translation OpenAI</h3>
  <form action="/" method="post">
    <input type="text" name="letter" placeholder="Entrer votre lettre" required />
    <select name="to">
      <option value="French">Français</option>
      <option value="Malgache">Malgache</option>
      <option value="English">Anglais</option>
      <option value="Japon">Japonais</option>
      <option value="Chine">Chinois</option>
    </select>
    <input type="submit" value="Translate" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
